{% extends "classifieds/base.html" %}
{% load bootstrap3 %}

{% block content %}

    <h1>{{ category.title }}</h1>

    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="?price=highest">Sorty by price - high to low</a></li>
    <li><a href="?price=lowest">Sor by price - low to high </a></li>
    <li><a href="?modified=newest">Sort by age - newest items first</a></li>
    <li><a href="?modified=oldest">Sort by age - oldest items first</a></li>
    <li role="separator" class="divider"></li>
  </ul>
</div>

    <br>

    <div class="btn-group" role="group">
        <a href="?view=list"><button type="button" class="btn btn-default">list</button></a>
        <a href="?view=thumb"><button type="button" class="btn btn-default">thumb</button></a>
        <a href="?view=gallery"><button type="button" class="btn btn-default">gallery</button></a>
    </div>
<br>
    <br>
<div class="list-group">
    {% for listing in listings %}

        {% if view == "thumb" or view == "gallery" %}
            <li  class="list-group-item">
            {% if listing.image and view == "thumb" %}
                <img src="{{ listing.image.url }}" height="100" width="100">
            {% elif listing.image and view == "gallery" %}
               <div> <img src="{{ listing.image.url }}" height="500" width="500"></div>
            {% endif %}
            {{ listing.format_date }}
            <a href="{% url 'listing_detail' listing.id %}"> {{ listing.title }}</a>
            {% if listing.price %}
                ${{ listing.price }}
            {% endif %}
             {{ listing.city }}
                <br>
            </li>

        {% else %}
            <li  class="list-group-item">
            {{ listing.display_date }}
            <a href="{% url 'listing_detail' listing.id %}"> {{ listing.title }}</a>
            {% if listing.listing_price %}
                ${{ listing.listing_price }}
            {% endif %}
             {{ listing.city }}
                <br>
            </li>

        {% endif %}

    {% endfor %}

</div>
    {% bootstrap_pagination page_obj %}
{% endblock %}