{% extends "classifieds/base.html" %}
{% block content%}

    {% if city.city %}
    <h2>Fredslist for buyers/sellers in {{ city }} </h2>
    {% else %}
        <h2>Welcome to Fredslist</h2>
    {% endif %}

<div class="container">
  <div class="row">

<div class="col-md-2"></div>
  <div class="col-md-6">
  <ul class="list-group">
{% for category in categories %}
    <class = "list-group-item">
    <h1><a href="{% url 'category_list' category.id %}"> {{ category.title }}</a></h1>

        {% for subcategory in subcategories %}
            <li  class="list-group-item">
            <a href="{% url 'subcategory_list' subcategory.id %}"> {{ subcategory.title }}</a>
            </li>
        {% endfor %}
    <br>

{% endfor %}
  </ul>
  </div>

<div class="col-md-2">
<h1>Other Fredslist Cities</h1>
<ul class="list-group">
{% for city in cities %}
<li  class="list-group-item"><a href="{% url 'city_redirect' city.id %}"> {{ city.title }}</a></li>
{% endfor %}

</ul>
</div>

</div>
</div>

{% endblock %}