{% extends "classifieds/base.html" %}
{% load bootstrap3 %}

{% block title %}User's Listings{% endblock %}

{% block content %}
<h1>{{ logged_user.username }}</h1>
    <h6>User Auth Token: {{ token }}</h6>
    {% if matched_user %}
        <a href="?token=new"><button type="button" class="btn btn-default">Generate New Auth Token</button></a>
    {% endif %}

<ul>
{% for listing in listings %}
    <br>
    <li  class="list-group-item">
        {{ listing.format_date }}
        <a href="{% url 'listings:listing_detail' listing.id %}"> {{ listing.title }}</a>
        {% if listing.listing_price %}
            ${{ listing.listing_price }}
        {% endif %}
         {{ listing.city }}
            <br>
    </li>
    {% if matched_user %}
        <li><a href="{% url 'listings:listing_update' listing.id %}"> Update this listing</a></li>
        <li><a href="{% url 'listings:listing_delete' listing.id %}">Delete this listing</a> </li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}